.store-grid {
    @apply flex flex-wrap justify-center pt-16 md:pt-2 sm:justify-evenly md:justify-start md:ml-52;
}

.store-card {
    @apply rounded-md w-1/2 sm:w-64 p-2 md:m-2 hover:shadow-md hover:bg-white;
}

.cart-overlay {
    width: calc(100vw - 20rem);
}

.cart-list {
    height: calc(100% - 124px);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    @apply border-b border-grey-800;
}
.cart-list::-webkit-scrollbar {
    display: none;
}

.cart-input {
    @apply text-lg text-primary-900 text-right focus:outline-none rounded-t-sm border-b-2 pr-1 bg-info-100 border-info-400 focus:border-primary-400;
}
