{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% image self.header_image fill-1000x700 as headimg %}
<div itemscope itemtype="https://schema.org/Organization">
    <div class="w-screen h-96 bg-cover bg-center relative" style="background-image: url('{{ headimg.url }}');">
        <div class="w-screen h-96 px-6 py-4 absolute left-0 top-0 bg-primary-900 bg-opacity-70 flex flex-col justify-center items-center">
            <h1 class="text-3xl md:text-4xl lg:text-5xl uppercase font-bold text-primary-100">{{ self.title }}</h1>
            
            <div class="text-center text-sm text-grey-400">
                <span itemprop="brand" >{{ self.brand_name }}</span> from
                <span itemprop="legalName" >{{ self.parent_company }}</span>
            </div>
        </div>
    </div>

    <section class="bg-white pt-10 pb-52">
        <h2 class="text-3xl font-bold text-grey-800 text-center">{{ self.page_heading }}</h2>
        <hr class="w-48 mt-3 mb-8 h-1">
        <article class="container mx-auto text-block text-lg leading-8">
            {{ self.company_details|richtext }}
        </article>
    </section>
    <section class="bg-primary-200 pt-14 pb-52">
        <h2 class="text-3xl font-bold text-grey-800 text-center -mt-52">{{ self.team_heading }}</h2>
        <hr class="w-48 mt-3 mb-8 h-1">
        <div class="p-4 container mx-auto flex flex-wrap justify-center">
            {% for card in self.team_cards %}
                {% include_block card %}
            {% endfor %}
        </div>
    </section>

    <section class="py-10">
        <div class="container mx-auto text-lg">
            <div class="bg-primary-900 rounded-md shadow-lg mx-auto xl:w-9/12 -mt-56 overflow-hidden" id="contact-us">

                <div class="bg-white p-6 align-top w-auto inline-block" >
                    <h3> Get in touch <i class="far fa-comment-alt"></i></h3>
                    <form action="" class="pt-5">
                        <label for="name" class="block text-sm text-primary-600 mt-3">Name</label>
                        <input type="text" name="name" id="" class="border-b-2 w-72 px-2 pt-1 rounded-t-md outline-none bg-primary-50 border-info-500 focus:border-primary-700">

                        <label for="email" class="block text-sm text-primary-600 mt-3">Email</label>
                        <input type="email" name="email" id="" class="border-b-2 w-72 px-2 pt-1 rounded-t-md outline-none bg-primary-50 border-info-500 focus:border-primary-700">
                        
                        <label for="message" class="block text-sm text-primary-600 mt-3">Message</label>
                        <textarea name="message" rows="3" class="border-b-2 w-72 px-2 pt-1 rounded-t-md outline-none bg-primary-50 border-info-500 resize-none focus:border-primary-700"></textarea>

                        <input type="submit" value="Send" class="block w-72 bg-accent-600 p-4 cursor-pointer rounded-md text-white font-bold hover:bg-accent-500">
                    </form>
                </div>

                <div class="p-6 text-primary-100 inline-block">
                    <div class="inline-block align-top p-4">
                        <h3 class="font-bold text-2xl mt-1 text-primary-300"> Our Offices <i class="fas fa-map-marked-alt"></i></h3>
                        {% for address in addresses %}
                        <div itemprop="branchOf" itemscope itemtype="LocalBusiness" class="text-sm mb-2 pl-2">
                            <h4 class="font-bold text-primary-200 text-lg">{{ address.title }}</h4>
                            
                            <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" class="pl-1">
                                <span itemprop="streetAddress">
                                    {{ address.address1 }}
                                    {% if address.address2 %}<br>{{ address.address2 }}{% endif %}
                                </span> <br>
                                <span itemprop="addressLocality">{{ address.city }}</span> -
                                <span itemprop="postalCode">{{ address.pincode }}</span> <br>
                                
                                {% if address.state %}
                                <span itemprop="addressRegion">{{ address.state }}</span>{% if address.country %},{% endif %}
                                {% endif %}
                                
                                {% if address.country %}
                                <span itemprop="addressCountry">{{ address.country }}</span>
                                {% endif %}
                                {% if address.map_link %}
                                    <p class="text-accent-300 mt-1 mb-4">
                                        <a href="{{ address.map_link }}" target="_blank">
                                        <i class="fas fa-location-arrow"></i> GET DIRECTIONS</a>
                                    </p>
                                {% endif %}
                            </address>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="inline-block align-top p-4">

                        {% for number in numbers %}
                        <h3 itemprop="department" class="font-bold text-2xl mt-1 text-primary-300">{{number.department}}</h3>
                        <a class="text-sm m-0 pl-3" href="tel:{{ number.phone }} itemprop="telephone"><i class="fas fa-phone-alt"></i> {{number.phone_number}}</a>
                        {% if number.email %}<br>
                        <a class="text-sm m-0 pl-3" href="mailto:{{ number.email }} itemprop="email"><i class="fas fa-envelope"></i> {{number.email}}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}