{% load static wagtailuserbar menus_tags footer_tags cache %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_page_title %}{{ self.seo_page_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="{% if self.brief %}{{ self.brief }}{% else %}{{ self.search_description }}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/shopfront.css' %}">

    {% block extra_meta %}
    {% endblock %}

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %} antialiased bg-grey-50">
    {# wagtailuserbar #}
    
    
    <header class="z-40	lg:px-16 px-6 py-1 bg-white fixed w-screen shadow-md" role="navigation" aria-label="main navigation">
        <nav class="flex flex-wrap items-center justify-between w-full">
            <a class="navbar-item" href="/">
                <img src="{% static 'images/logo.png' %}" class="h-12" />
            </a>
            <label for="hamburger" class="cursor-pointer md:hidden block">
                <img src="https://cdn2.iconfinder.com/data/icons/4web-3/139/menu-512.png" alt="main menu" width="40">
            </label>
            <input type="checkbox" name="hamburger" class="hidden" id="hamburger">
            <div id="mainmenu" class="hidden md:flex justify-between md:items-center md:w-2/3 lg:w-3/4 xl:w-5/6 w-screen">
                
                {% cache 2592000 header %}
                {% get_menu "main" as navigation %}
                <ul class="flex flex-col md:flex-row md:h-auto h-fit-90 items-center justify-evenly md:w-3/4 lg:w-auto text-base text-grey-800">
                    {% for item in navigation.menu_items.all %}
                    <li class="relative group">
                        <a href="{{ item.link_page.url }}{% if item.section %}{{ item.section }}{% endif %}" class="navlink">
                        {{ item.title }}
                        {% if item.submenus %} <i class="fas fa-angle-down"></i>{% endif %}
                        </a>
                        {% if item.submenus %}
                        <div class="submenu invisible group-hover:visible">
                            <div class="flex align-top">
                                {% for sub_title in item.get_submenus %}
                                {% get_menu sub_title as submenu %}
                                <div>
                                    <p class="text-lg font-bold">{{ submenu.title }}</p>
                                    <ul>
                                        {% for subitem in submenu.menu_items.all %}
                                        <li class="text-grey-600 whitespace-nowrap hover:text-primary-700">
                                            <a href="{{ subitem.link_page.url }}{% if item.section %}{{ item.section }}{% endif %}">
                                                {{ subitem.title }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endcache %}

                <div class="text-center mb-5 md:m-0">
                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logoutUser' %}">
                        {% csrf_token %}
                        <button class="btn-m btn-w" type="submit">Logout</button>
                    </form>
                    {% else %}
                    <button class="btn-m btn-a" onclick="toggleAuthModal('R')">Sign Up</button>
                    <button class="btn-m btn-w" onclick="toggleAuthModal('L')">Login</button>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div>
        </div>

    </header>

    
    <main class="pt-14">
        {% if messages %}
        <ul class="w-full">
            {% for message in messages %}
            <li class="{% if message.tags %}bg-{{ message.tags }}-200 text-{{ message.tags }}-600{% endif %} text-center px-4 py-2">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </main>


    {% cache 2592000 footer %}
    <footer class="bg-grey-900 p-4 flex justify-evenly">
        <div class="text-center">
            <p class="text-sm text-grey-200">Where To Find Us</p>
            <hr>
            <div class="my-0.5 text-grey-300 text-2xl">
                {% if settings.company.ContactDetails.linkedin %}
                <a href="{{ settings.company.ContactDetails.linkedin }}" target="_blank">
                    <i class="fab fa-linkedin mx-1.5"></i>
                </a>
                {% endif %}
                
                {% if settings.company.ContactDetails.youtube %}
                <a href="{{ settings.company.ContactDetails.youtube }}" target="_blank">
                    <i class="fab fa-youtube mx-1.5"></i>
                </a>
                {% endif %}
                
                {% if settings.company.ContactDetails.facebook %}
                <a href="{{ settings.company.ContactDetails.facebook }}" target="_blank">
                    <i class="fab fa-facebook mx-1.5"></i>
                </a>
                {% endif %}
                
                {% if settings.company.ContactDetails.instagram %}
                <a href="{{ settings.company.ContactDetails.instagram }}" target="_blank">
                    <i class="fab fa-instagram mx-1.5"></i>
                </a>
                {% endif %}
                
                {% if settings.company.ContactDetails.twitter %}
                <a href="{{ settings.company.ContactDetails.twitter }}" target="_blank">
                    <i class="fab fa-twitter mx-1.5"></i>
                </a>
                {% endif %}
            </div>
            <div class="text-left mt-3">
                {% get_footer as footer %}
                {% for address in footer %}
                <p class="font-bold text-grey-400 text-sm">{{ address.title }} <i class="fas fa-map-marker-alt"></i></p>
                    <address class="text-xs text-grey-300 not-italic" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                        <span itemprop="streetAddress">
                            {{ address.address1 }}
                            {% if address.address2 %}<br>{{ address.address2 }}{% endif %}
                        </span> <br>
                        <span itemprop="addressLocality">{{ address.city }} -</span>
                        <span itemprop="postalCode">{{ address.pincode }}</span> <br>
                        {% if address.state %}<span itemprop="addressRegion">{{ address.state }}</span> <br>{% endif %}
                        {% if address.country %}<span itemprop="addressCountry"></span>{{ address.country }}</span>{% endif %}
                        {% if address.map_link %}
                            <p class="text-accent-300 mt-1 mb-2">
                                <a href="{{ address.map_link }}" target="_blank">
                                <i class="fas fa-location-arrow"></i> GET DIRECTIONS</a>
                            </p>
                        {% endif %}
                        
                    </address>
                {% endfor %}
            </div>
        </div>

        <div>
            {% for item in navigation.menu_items.all %}
            <a href="{{ item.link_page.url }}{% if item.section %}{{ item.section }}{% endif %}" class="text-grey-100">
                {{ item.title }}
            </a>
            {% endfor %}
        </div>
    </footer>
    {% endcache %}

    <div id="auth-modal" class="fixed bottom-0 left-0 h-fit w-screen bg-primary-900 bg-opacity-50 flex justify-center items-center invisible">
        <div class="relative w-80 bg-white rounded-md shadow-md pb-4 overflow-hidden">
            <button class="btn-close top-1 right-2" onclick="toggleAuthModal()"><i class="fas fa-times-circle text-2xl"></i></button>
            <div id="auth-form-reel" class="w-form bg-white transition-all">

                <form method="POST" action="{% url 'registerUser' %}" class="inline-block w-80 px-4">
                    {% csrf_token %}
                    <h1 class="text-center text-2xl font-bold text-grey-700 py-1">Register</h1>
                    
                    <label class="form-label" for="email">Email</label>
                    <input class="text-lg form-input" id="r-email" type="email" name="username" required>
                    <label class="form-label" for="password1">Password</label>
                    <input class="text-lg form-input" id="r-password1" type="password" name="password1" required>
                    <label class="form-label" for="password2">Retype Password</label>
                    <input class="text-lg form-input" id="r-password2" type="password" name="password2" required>
        
                    <input type="hidden" name="ls-cart" id="ls-cart-r">

                    <button type="submit" class="mt-4 w-full text-lg btn-a btn-m">Register</button>
                </form>

                <form method="POST" action="{% url 'loginUser' %}" class="inline-block w-80 px-4">
                    {% csrf_token %}
                    <h1 class="text-center text-2xl font-bold text-grey-700 py-1">Login</h1>
        
                    <label class="form-label" for="email">Email</label>
                    <input class="text-lg form-input" type="email" id="l-email" name="username" required>
                    <label class="form-label" for="password">Password</label>
                    <input class="text-lg form-input" type="password" id="l-password" name="password" required>
        
                    <input type="hidden" name="ls-cart" id="ls-cart-l">
        
                    <button type="submit" class="mt-4 w-full text-lg btn-p btn-m">Login</button>
                </form>
                
            </div>
        </div>
    </div>

    
    {# Global javascript #}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'js/shopfront.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>